/* style.css */

/*  */
/* ----------------------------- container formatting ----------------------------- */
/*  */

* {
    color: #009A7E;
    /*  */
    font-family: 'DM Sans', 'Space Mono', sans-serif;
    font-size: 14px;
    font-weight:500;
    /*  */
    margin-bottom: 0px;
    /*  */
    
}

.root-container {
    display: flex;
    height: 75dvh;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    /*  */
    padding: 10dvh;
    padding-top: 11dvh;
    
}

body {
    /* no background gradient */
    height: 100dvh;
    overflow: hidden;
    background: radial-gradient(circle at center 80%, #F22828 0%, #F22828 17%, #FF574C 35%, #FF6969 44%, #FFF8F1 75%);
    background-repeat: no-repeat;
}

body:where(#resume-sidebar, #work-sidebar, .about-sidebar) {
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.7s;
}
.root-hbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
}

.vbox {
    /* no styling */
    display: flex;
    flex-direction: column;
}

.hbox {
    /* no styling */
    display: flex;
    flex-direction: row;
}

.wrapbox {
    /* no styling */
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    align-content: stretch;
}

.container {
    display: flex;
    flex-direction: column;
    background: #FFFEEE;
    /*  */
    border: 1.3px;
    border-style: solid;
    border-color: #009A7E;
    /*  */
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 35px;
    /*  */
    margin-top: -1px;
    margin-left: -1px;
}

#menu-bar {
    min-width: 500px;
    max-width: 500px;
    height: inherit;
}

#footer {
    display:flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}

/*  */
/* ----------------------------- button formatting ----------------------------- */
/*  */

button.menu {
    background: #FFFEEE;
    min-width: 100px;
    flex: 1;
    /*  */
    border: 1.3px;
    border-style: solid;
    border-color: #009A7E;
    /*  */
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -1px;
    margin-left: -1px;
    /*  */
    font-size: 18px;
    font-weight: 600;
    /*  */
    cursor: pointer;
    /*  */
}

button:hover {
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.7s;
    background-color: #009A7E;
    color: #FFFEEE;
}

button:active {
    background-color: #04635d;
    border-color: #04635d;
    color: #FFFEEE;
}

button.on {
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.7s;
    min-width: 100px;
    flex: 1;
    /*  */
    border: 1.3px;
    border-style: solid;
    border-color: #009A7E;
    /*  */
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -1px;
    margin-left: -1px;
    /*  */
    font-size: 18px;
    font-weight: 600;
    /*  */
    cursor: pointer;
    /*  */
    background-color: #009A7E;
    color: #FFFEEE;
}

/* button: replace this with js toggle state{
    background-color: #FF574C;
    border-color: #FF574C;
    color: #FFFEEE;
} */

/*  */
/* ----------------------------- sidebar formatting ----------------------------- */
/*  */

#sidebar-container {
    display:none;
    min-width: fit-content;
}

.about {
    display: none;
    scroll-behavior: smooth;
    flex-direction: column;
    min-height: max-content;
    overflow-x: wrap;
}

#resume {
    display: none;
    flex-direction: column;
    height: auto;
    max-height: 60dvh;
    overflow-y: scroll;
    overflow-x: wrap;
}

#work {
    display: none;
}

/*  */
/* ----------------------------- content formatting ----------------------------- */
/*  */


img {
    border: 1.3px;
    border-style: solid;
    border-color: #009A7E;
    border-radius: 100px;
    /*  */
    margin-top: 20px;
    margin-bottom: 10px;
    /*  */
}

h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: .6em;
    kerning: -1.5rem;
    /*  */
    margin-bottom: 0px;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: .6em;
    /*  */
    margin-bottom: 0px;
}

h3 {
    font-size: 14px;
    font-weight:600;
    line-height: .4em;
    /*  */
    margin-bottom: 0px;
}

p {
    font-size: 14px;
    font-weight:500;
    /*  */
    margin-bottom: 0px;
}

a {
    color:#FF574C;
    font-size: 14px;
    text-decoration: none;
}

li {
    margin-left: 20px;
}

p.footer {
    line-height: 0em;
}

/* ----------------------------- project formatting / styling ----------------------------- */

div.project {
    display: flex;
    flex-direction: column;
    background: #FFFEEE;
    /*  */
    width: 100px;
    max-width: 100px;
    height: 210px;
    /*  */
    border: 1.3px;
    border-style: solid;
    border-color: #009A7E;
    /*  */
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 15px;
    /*  */
    margin: -1px;
    /*  */
    cursor: pointer;
    /*  */
    align-items: center;
    text-align: center;
}

div.project:hover {
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.7s;
    background: #daf1de;
}

img.project {
    border-radius: 0;
}

h3.project {
    text-align: center;
    margin-top: 5px;
    line-height: 1.2rem;
}

p#project-role {
    margin-top: 10px;
    line-height: 1.2rem;
    text-align: center;
}

/* ----------------------------- scrollbar styling ----------------------------- */

/*! Firefox */    
    html{

        scrollbar-color: #FFFEEE #009A7E;
    }

/*! Other Browser */

    html {
        --scrollbarBG: #FFFEEE;
        --thumbBG: #009A7E;
    }
    body::-webkit-scrollbar {
        width: 8px;
    }
    body {
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    }
    body::-webkit-scrollbar-track {
        background: var(--scrollbarBG);
    }
    body::-webkit-scrollbar-thumb {
        background-color: var(--thumbBG) ;
        /* border-radius: 6px; */
        border: 3px solid var(--scrollbarBG);
    }